Repository dongdong9/rasa-3.2.10, changes with the owners that CODEOWNERS names for each.
All owners: @RasaHQ/atom-squad, @RasaHQ/infrastructure-squad, @RasaHQ/core-ai-squad

CODEOWNERS:

/docs/docs/prototype-an-assistant.mdx @RasaHQ/atom-squad
/.github/workflows/ @RasaHQ/infrastructure-squad
/rasa/ @RasaHQ/atom-squad
/rasa/core/featurizers/ @RasaHQ/core-ai-squad
/rasa/core/policies/ @RasaHQ/core-ai-squad
/rasa/core/policies/ensemble.py @RasaHQ/atom-squad
/rasa/core/policies/policy.py @RasaHQ/atom-squad
/rasa/core/policies/registry.py @RasaHQ/atom-squad
/rasa/core/policies/__init__.py @RasaHQ/atom-squad
/rasa/nlu/classifiers/ @RasaHQ/core-ai-squad
/rasa/nlu/extractors/crf_entity_extractor.py @RasaHQ/core-ai-squad
/rasa/nlu/extractors/extractor.py @RasaHQ/core-ai-squad
/rasa/nlu/featurizers/ @RasaHQ/core-ai-squad
/rasa/nlu/selectors/ @RasaHQ/core-ai-squad
/rasa/nlu/tokenizers/ @RasaHQ/core-ai-squad
/rasa/nlu/utils/ @RasaHQ/core-ai-squad
/rasa/nlu/test.py @RasaHQ/core-ai-squad
/rasa/shared/nlu/training_data/features.py @RasaHQ/core-ai-squad
/rasa/shared/nlu/training_data/message.py @RasaHQ/core-ai-squad
/rasa/shared/nlu/training_data/util.py @RasaHQ/atom-squad @RasaHQ/core-ai-squad
/rasa/utils/plotting.py @RasaHQ/core-ai-squad
/rasa/utils/train_utils.py @RasaHQ/core-ai-squad
/rasa/utils/tensorflow/ @RasaHQ/core-ai-squad

修改.gitignore配置文件
  .gitignore
  data/test_action_extract_slots_11333/models/.gitkeep
Owners: none

用rasa\cli\scaffold\initial_project下的文件模板来初始化一个rasa project
  rasa/cli/scaffold.py
Owners: @RasaHQ/atom-squad

rasa训练模型的外围函数
  rasa/cli/scaffold.py
  rasa/cli/shell.py
  rasa/core/run.py
  rasa/engine/training/hooks.py
  rasa/model_training.py
  rasa/shared/core/training_data/loading.py
  rasa/shared/core/training_data/story_reader/yaml_story_reader.py
  rasa/shared/data.py
  rasa/shared/importers/importer.py
  rasa/shared/importers/rasa.py
  rasa/shared/utils/io.py
Owners: @RasaHQ/atom-squad

执行rasa init、rasa train等各种命令
  .gitignore
  rasa/__main__.py
  rasa/api.py
  rasa/cli/data.py
  rasa/cli/evaluate.py
  rasa/cli/export.py
  rasa/cli/interactive.py
  rasa/cli/run.py
  rasa/cli/scaffold.py
  rasa/cli/shell.py
  rasa/cli/telemetry.py
  rasa/cli/test.py
  rasa/cli/train.py
  rasa/cli/visualize.py
  rasa/cli/x.py
  rasa/constants.py
  rasa/core/channels/channel.py
  rasa/core/channels/console.py
  rasa/core/processor.py
  rasa/core/run.py
  rasa/core/test.py
  rasa/engine/graph.py
  rasa/shared/core/events.py
  rasa/shared/core/training_data/story_reader/yaml_story_reader.py
  rasa/shared/data.py
  rasa/shared/importers/importer.py
  rasa/shared/importers/rasa.py
  rasa/shared/nlu/training_data/loading.py
  rasa/shared/utils/common.py
  rasa/shared/utils/io.py
  rasa/shared/utils/validation.py
  rasa/utils/common.py
  rasa/validator.py
Owners: @RasaHQ/atom-squad

跑通rasa init、rasa train等命令的配套配置文件
  .gitignore
  rasa/rasa_demo_files_dir/actions/__init__.py
  rasa/rasa_demo_files_dir/actions/actions.py
  rasa/rasa_demo_files_dir/config.yml
  rasa/rasa_demo_files_dir/credentials.yml
  rasa/rasa_demo_files_dir/data/nlu.yml
  rasa/rasa_demo_files_dir/data/rules.yml
  rasa/rasa_demo_files_dir/data/stories.yml
  rasa/rasa_demo_files_dir/domain.yml
  rasa/rasa_demo_files_dir/endpoints.yml
  rasa/rasa_demo_files_dir/graph.html
  rasa/rasa_demo_files_dir/results/intent_confusion_matrix.png
  rasa/rasa_demo_files_dir/results/intent_histogram.png
  rasa/rasa_demo_files_dir/results/intent_report.json
  rasa/rasa_demo_files_dir/story_graph.dot
  rasa/rasa_demo_files_dir/tests/test_stories.yml
  rasa/rasa_demo_files_dir/train_test_split/nlg_test_data.yml
  rasa/rasa_demo_files_dir/train_test_split/nlg_training_data.yml
  rasa/rasa_demo_files_dir/train_test_split/test_data.yml
  rasa/rasa_demo_files_dir/train_test_split/training_data.yml
Owners: @RasaHQ/atom-squad

跑通医疗机器人NLU模块的训练和测试
  .gitignore
  rasa/cli/run.py
  rasa/cli/shell.py
  rasa/constants.py
  rasa/core/constants.py
  rasa/engine/graph.py
  rasa/rasa_demo_Chapter02/README.md
  rasa/rasa_demo_Chapter02/actions/__init__.py
  rasa/rasa_demo_Chapter02/actions/actions.py
  rasa/rasa_demo_Chapter02/config.yml
  rasa/rasa_demo_Chapter02/credentials.yml
  rasa/rasa_demo_Chapter02/data/nlu.yml
  rasa/rasa_demo_Chapter02/domain.yml
  rasa/rasa_demo_Chapter02/endpoints.yml
Owners: @RasaHQ/atom-squad

更新.gitignore
  .gitignore
Owners: none

读取rasa 项目的各种配置文件
  rasa/cli/train.py
  rasa/model_training.py
  rasa/shared/data.py
  rasa/shared/importers/importer.py
  rasa/shared/importers/rasa.py
  rasa/shared/importers/utils.py
  rasa/shared/nlu/training_data/formats/rasa_yaml.py
  rasa/shared/nlu/training_data/loading.py
Owners: @RasaHQ/atom-squad

根据config.yml中的pipline和policies字段配置的组件，构建GraphNo
  rasa/engine/caching.py
  rasa/engine/graph.py
  rasa/engine/recipes/default_recipe.py
  rasa/engine/runner/dask.py
  rasa/engine/training/graph_trainer.py
Owners: @RasaHQ/atom-squad

解析data\nlu.yml中每个句子的意图、实体，获取结巴分词结果，用全部的的解析结果构造一个TrainingData类对象
  rasa/nlu/tokenizers/jieba_tokenizer.py
  rasa/nlu/tokenizers/tokenizer.py
  rasa/shared/importers/importer.py
  rasa/shared/importers/rasa.py
  rasa/shared/importers/utils.py
  rasa/shared/nlu/training_data/entities_parser.py
  rasa/shared/nlu/training_data/formats/rasa_yaml.py
  rasa/shared/nlu/training_data/formats/readerwriter.py
  rasa/shared/nlu/training_data/loading.py
  rasa/shared/nlu/training_data/training_data.py
  rasa/shared/utils/io.py
  rasa/shared/utils/validation.py
Owners: @RasaHQ/core-ai-squad, @RasaHQ/atom-squad

对每个Message对象(即example)用结巴进行分词
  rasa/nlu/tokenizers/tokenizer.py
Owners: @RasaHQ/core-ai-squad

将sequence_feature(shape为[词级别的token_count,embedding_size])和sentence_feature(shape为[1,768])分别加入到Message类对象的self.features这个list中
  rasa/nlu/constants.py
  rasa/nlu/featurizers/dense_featurizer/lm_featurizer.py
  rasa/nlu/featurizers/featurizer.py
  rasa/nlu/utils/hugging_face/transformers_pre_post_processors.py
  rasa/utils/train_utils.py
Owners: @RasaHQ/atom-squad, @RasaHQ/core-ai-squad

暂时修改.gitignore文件
  .gitignore
Owners: none

rasa nlu模块的训练
  .gitignore
  rasa/cli/train.py
  rasa/engine/graph.py
  rasa/engine/runner/dask.py
  rasa/engine/training/graph_trainer.py
  rasa/model_training.py
  rasa/nlu/classifiers/diet_classifier.py
  rasa/nlu/utils/bilou_utils.py
  rasa/shared/nlu/training_data/features.py
  rasa/shared/nlu/training_data/formats/rasa_yaml.py
  rasa/shared/nlu/training_data/loading.py
  rasa/shared/nlu/training_data/message.py
  rasa/utils/tensorflow/data_generator.py
  rasa/utils/tensorflow/model_data.py
  rasa/utils/tensorflow/model_data_utils.py
  rasa/utils/train_utils.py
Owners: @RasaHQ/atom-squad, @RasaHQ/core-ai-squad

加载nlu模型，读取输入句子，利用nlu模块得到意图和实体
  rasa/cli/shell.py
  rasa/core/processor.py
  rasa/engine/runner/dask.py
  rasa/engine/storage/local_model_storage.py
  rasa/graph_components/converters/nlu_message_converter.py
  rasa/nlu/classifiers/diet_classifier.py
  rasa/nlu/run.py
  rasa/nlu/tokenizers/tokenizer.py
  rasa/utils/tensorflow/models.py
Owners: @RasaHQ/atom-squad, @RasaHQ/core-ai-squad

添加报时机器人的配置数据
  rasa/constants.py
  rasa/rasa_demo_Chapter03/.gitignore
  rasa/rasa_demo_Chapter03/README.md
  rasa/rasa_demo_Chapter03/__init__.py
  rasa/rasa_demo_Chapter03/actions.py
  rasa/rasa_demo_Chapter03/config.yml
  rasa/rasa_demo_Chapter03/credentials.yml
  rasa/rasa_demo_Chapter03/data/nlu.yml
  rasa/rasa_demo_Chapter03/data/stories.yml
  rasa/rasa_demo_Chapter03/domain.yml
  rasa/rasa_demo_Chapter03/endpoints.yml
  rasa/rasa_demo_Chapter03/tests/conversation_tests.md
Owners: @RasaHQ/atom-squad

跑通报时机器人的例子
  rasa/actions.py
  rasa/core/constants.py
Owners: @RasaHQ/atom-squad

读取nlu训练数据，创建TrainingData类对象
  rasa/core/channels/console.py
  rasa/core/policies/ted_policy.py
  rasa/model_training.py
  rasa/shared/importers/importer.py
Owners: @RasaHQ/atom-squad, @RasaHQ/core-ai-squad
